body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #D62828;
}

button {
    background: #FECB00;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #D62828;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

.fila-vencido {
    background-color: #ffb3b3; /* rojo claro */
}

.fila-proximo {
    background-color: #fff2b3; /* amarillo claro */
}
