<div class="contenedor">
    <h1>Lotes con fechas de vencimiento próximas</h1>
    <button onclick="exportarExcel()">📥 Exportar Excel</button>

    <table id="tablaFechas">
        <thead>
            <tr>
                <th>Número Lote</th>
                <th>Tipo Producto</th>
                <th>Fecha Vencimiento</th>
                <th>Cantidad</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

       <div class="text-center">
      <a href="volver.php" class="btn-gris">⬅ Regresar</a>
    </div>
  </div>
  
</div>
