<div class="contenedor-panel">
    <h2 class="titulo-gestion">Historial de Movimientos</h2>

    <div class="tabla-centrada">
        <table class="tabla-usuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Lote</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Responsable</th>
                    <th>Estado Origen</th>
                    <th>Estado Destino</th>
                </tr>
            </thead>
            <tbody id="tabla-movimientos"></tbody>
        </table>
    </div>

    <div class="contenedor-regresar">
        <a href="superadmin.php" class="btn-gris">⬅ Regresar</a>
    </div>
</div>
